name: Test and Publish Extension

on:
  push:
    tags:
      - 'v*' # Activates only when pushing a tag that starts with 'v' (e.g. v1.0.0) 

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: xvfb-run -a npm test

      - name: Publish to Marketplace
        run: npx @vscode/vsce publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}